<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Site E-Commerce</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="produit">Home</a></li>
            <li class="active"><a routerLink="insertProduct">espace Vendeur</a></li>
            <li class="active"><a routerLink="tests">Voir des tempales</a></li>
            <li class="active"><a routerLink="#">About</a></li>
            
            <li _ngcontent-yra-c4="" class="dropdown">
            <a _ngcontent-yra-c4="" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              Contact Us 
              <span _ngcontent-yra-c4="" class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="background-color: rgb(98, 183, 209)">
              <li>  Email:intellcap@gmail.com   </li> 
              
              <li _ngcontent-yra-c4="">   Phone:+2120655323232   </li>
            </ul>  
            </li>

            <ul class="nav navbar-nav">
                <li><a routerLink="auth" *ngIf="!authStatus"><button class="btn btn-primary" >signIn</button></a></li>
                <li><a routerLink="signup"><button class="btn btn-success">signUp</button></a>
                </li>
            </ul>
            <a><i class='far fa-clipboard' style='font-size:48px;color:red'>{{nombre}}</i></a>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
